div.sotn-images {
    clear: both;
}

div.sotn-images iframe.ca-container {
    float: left;
    width: 60%;
    height: 300px;
}

div.newspaper-data-wrapper {
    display: block;
    width: 100% !important;
    clear: both;
}

div.newspaper-data-wrapper.front-page {
    
}

div.newspaper-data-wrapper.front-page div.svg {
    float: left;
}

div.newspaper-data-wrapper.front-page .stats {
    position: relative;
    left: 140px;
    width: 40%;
    margin: 0;
    padding: 0;
}

div.newspaper-data-wrapper > div {
    display: inline-block;
    width: 22%;
}

div.newspaper-basic-data span {
    font-weight: bold;
    margin-left: 5px;
}

input[type="text"].columns-correction {
    display: inline-block;
}

iframe.ca-container {
    width: 60%;
    height: 700px;
    float: right;

}

.corrections-button {
    cursor: pointer;
    margin-left: 10px;
    background-color: grey;
    color: white;
}

.corrections-button img {
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    top: 4px;
}
